<div class="container">
  <section>
    <div class="head-container">
      <h2>Experience</h2>
      <div class="action">
        <button>
          <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
        </button>
        <button><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="timeline" *ngFor="let job of jobdata">
      <div class="company">
        <div><img src="{{ job.logo }}" class="logo" /></div>
        <div>
          <h3>{{ job.title }}</h3>
          <p class="job">{{ job.company }} · {{ job.type }}</p>
          <p>{{ job.startDate }} - {{ job.endDate }}</p>
          <p>{{ job.location }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
